<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incio</tittle>
</head>
<body>
    {% extends 'padre.html' %}
    {% load static %}
    {% block contenidoQueCambia %}
    <h1>Bienvenidos al Centro Medico De Coder</h1></a>
    <table style="border: 1px dashed black;">
        <tr>
            <td style="border: 1px dashed black;"><a href="pacientes"><img src="{% static 'myapp/image/paciente.jpg' %}" title="Zona de Pacientes" height="300" width="300"></td></a>
            <td style="border: 1px dashed black;">Pacientes: aqui es la zona dedicada a ingreso de pacientes,<br> modificion de datos y demas acciones.<br>Para mas informacion <a href="pacientes">click aqui</a> o en la Imagen</td>
        </tr>
        <tr>
            <td style="border: 1px dashed black;">Medicos: aqui es la zona dedicada a ingreso de medicos, <br>modificion de datos y demas acciones.<br>Solo Gente Autorizada <a href="doctores">click aqui</a><br></td>
            <td style="border: 1px dashed black;"><a href="doctores"><img src="{% static 'myapp/image/medicos.jpg' %}" title="Zona de Medicos" height="300" width="300"></a></td>
        </tr>
        <tr>
            <td style="border: 1px dashed black;"><a href="turnos"><img src="{% static 'myapp/image/turno.jpg' %}"title="Zona de Turnos" height="300" width="300"></td></a>
            <td style="border: 1px dashed black;">Turnoa: aqui es la zona dedicada a ingreso de Turnos,<br> modificion de datos y demas acciones.<br>Para mas informacion <a href="turnos">click aqui</a> o en la Imagen</td>
        </tr>
        <tr>
            <td style="border: 1px dashed black;"><a href="pageAdmin"><img src="{% static 'myapp/image/sorry.png' %}"title="Zona de Admins" height="300" width="300"></td></a>
            <td style="border: 1px dashed black;">Admins: Acceso solo a personal Administrador.<br><a href="pageAdmin">click aqui</a> o en la Imagen</td>
        </tr>
    {% endblock %}
</body>
</html>