<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</tittle>
</head>
<body>
    {% extends 'padre.html' %}
    {% load static %}
    {% block contenidoQueCambia %}
    <table style="border: 1px dashed black;">
        <tr>
            <td style="border: 1px dashed black;"><a href="formularioPaciente"><img src="{% static 'myapp/image/paciente.jpg' %}" title="Registrar Paciente" height="300" width="300"></td></a>
            <td style="border: 1px dashed black;">Aqui se Dara de alta el paciente<br> <br> <a href="formularioPaciente">click aqui</a> o en la Imagen</td>
        </tr>
        <tr>
            <td style="border: 1px dashed black;"><form action="buscarPas" method="GET">
                <input type="hidden" name="usuario" value="{{ request.user.username }}">
                <button type="submit"><img src="{% static 'myapp/image/paciente.jpg' %}" title="buscar" height="300" width="300"></button></form></td></a>
            <td style="border: 1px dashed black;">Haciendo click aqui modificara los datos basicos<br>del paciente <br>  en la Imagen
                <form action="buscarPas" method="GET">
                    <input type="hidden" name="usuario" value="{{ request.user.username }}">
                    <input type="submit" value="buscar">
                </form></td>
        </tr>
    {% endblock %}
</body>
</html>