<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</tittle>
</head>
<body>
    {% extends 'padre.html' %}
    {% load static %}
    {% block contenidoQueCambia %}
    <img src="{% static 'myapp/image/man2.png' %}" width="300" height="300">
    <h1>Acerca de Mi</h1></a>
    <h2>Datos Personales:</h2>
    <h3>Me llamo Roberto Carabajal, soy Conductor de trenes.
        Estudiante de programacion por hobbie, No se me da muy bien el
        diseño como se notara en la pagina, aunque le pongo la mejor de
        las ondas.

    </h3>
    <h4><li>Nombre Completo: Roberto Antonio Carabajal</li>
    <li>Fecha De Nacimiento: 25/12/1987</li>
    <li>Estado Civil: Soltero</li>
    <li>Mail de Contacto: <a href="contacto">Mail</a></li></h4>
    Muchas Gracias por la Visita.
    {% endblock %}
</body>
</html>