<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Busqueda</title>
</head>
<body>
{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
<table><caption></caption><h2>Resultados de búsqueda:</h2></caption>
    <tr>
        <td></td>
        <th style="border: 1px dashed black;">Usuario&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </th>
        <th style="border: 1px dashed black;">Nombre  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </th>
        <th style="border: 1px dashed black;">Apellido  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th style="border: 1px dashed black;">DNI  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th style="border: 1px dashed black;">Obra Social  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
      </tr>
    {% for p in pacientes %}
    <tr>
        <td ></td>
            
            <th style="border: 1px dashed black;" text-align: center>{{ p.usuario}}<br><button><a href="{% url 'editarPaciente' p.dni %}">Editar</a></button><button><a href="{% url 'eliminarPaciente' p.dni %}"> Eliminar</a></button></th>
            <th style="border: 1px dashed black;" text-align: center>{{ p.nombre }}</th>
            <th style="border: 1px dashed black;" text-align: center>{{ p.apellido }}</th>
            <th style="border: 1px dashed black;" text-align: center>{{ p.dni }}</th>
            <th style="border: 1px dashed black;" text-align: center>{{ p.obraSocial }}</th>
    </tr>
    {% endfor %}
</table>
<button>
    <a href="formularioPaciente"> Agregar</a>
</button>
{% endblock %}
</body>
</html>