<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 404</tittle>
</head>
<body>
    

    {% extends 'padre.html' %}
    {% load static %}
    {% block contenidoQueCambia %}
    <img src="{% static 'myapp/image/sorry.png' %}" width="500" height="300">
    <h1>PAGINA No Encontrada, Disculpas</h1>
    <a href="inicio">Volver al Inicio</a>
    {% endblock %}
</body>
</html>