<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Busqueda</title>
</head>
<body>
{% extends 'padre.html' %}
{% load static %}
{% block contenidoQueCambia %}
    {% if doctor %}
      <table><caption></caption><h2>Resultados de búsqueda:</h2></caption>
        <tr>
            <td></td>
            <th style="border: 1px dashed black;">Usuario&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </th>
            <th style="border: 1px dashed black;">Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </th>
            <th style="border: 1px dashed black;">Apellido  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </th>
            <th style="border: 1px dashed black;">DNI  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th style="border: 1px dashed black;">Area  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          </tr>
        
            {% for a in doctor %}
            <tr>
                <td ></td>
                    <th style="border: 1px dashed black;" text-align: center>{{ a.usuario}}<br><button><a href="{% url 'editarDoctor' a.dni %}">Editar</a></button><button><a href="{% url 'eliminarDoctor' a.dni %}"> Eliminar</a></button></th>
                    <th style="border: 1px dashed black;" text-align: center>{{ a.nombre}}<br></th>
                    <th style="border: 1px dashed black;" text-align: center>{{ a.apellido }}</th>
                    <th style="border: 1px dashed black;" text-align: center>{{ a.dni }}</th>
                    <th style="border: 1px dashed black;" text-align: center>{{ a.area }} </th>
            </tr>
            {% endfor %}
            <button>
                <a href="formularioDoctor"> Agregar</a>
            </button>
      </table>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
    
{% endblock %}
</body>
</html>